.navbar {
  position: absolute;
  height: 62px;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 10;
  background: #eb5757;
  display: grid;
  grid-template-columns: 70% 30%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  grid-column: 2/3;
}

.gambarlogo {
  margin: 0 auto;
  z-index: 11;
}
