.slick-next {
  right: 20px;
  background: transparent;
  color: white;
}
.slick-prev {
  left: 0px;
  background: transparent;
}

.slick-next:before {
  color: white;
  font-size: 40px;
}

.slick-prev:before {
  color: white;
  font-size: 40px;
}

.slick-list {
  margin-top: 150px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}